/bin/

# Project exclude paths
/classes/

.gradle/8.7/executionHistory/executionHistory.bin
.gradle/8.7/executionHistory/executionHistory.lock
.gradle/8.7/fileHashes/fileHashes.bin
.gradle/8.7/fileHashes/fileHashes.lock
.gradle/8.7/fileHashes/resourceHashesCache.bin

.gradle/file-system.probe
.gradle/buildOutputCleanup/buildOutputCleanup.lock

build/distributions/DesperadosTools-1.0.tar
build/distributions/DesperadosTools-1.0.zip

build/classes/java/main/desperados/ui/EditorWindow.class
build/classes/java/main/desperados/ui/EditorWindow$1.class
build/classes/java/main/desperados/ui/EditorWindow$1$1.class
build/classes/java/main/desperados/ui/EditorWindow$2.class
build/classes/java/main/desperados/ui/EditorWindow$3.class
build/classes/java/main/desperados/ui/EditorWindow$4.class
build/classes/java/main/desperados/ui/EditorWindow$5.class
build/classes/java/main/desperados/ui/EditorWindow$5$1.class
build/classes/java/main/desperados/ui/EditorWindow$6.class
build/classes/java/main/desperados/ui/EditorWindow$6$1.class
build/classes/java/main/desperados/ui/EditorWindow$7.class
build/classes/java/main/desperados/ui/EditorWindow$8.class
build/classes/java/main/desperados/ui/EditorWindow$9.class
build/classes/java/main/desperados/ui/EditorWindow$10.class
build/classes/java/main/desperados/ui/EditorWindow$11.class
build/classes/java/main/desperados/ui/EditorWindow$12.class
build/classes/java/main/desperados/ui/EditorWindow$13.class
build/classes/java/main/desperados/ui/EditorWindow$14.class
build/classes/java/main/desperados/ui/EditorWindow$15.class
build/classes/java/main/desperados/ui/EditorWindow$16.class
build/classes/java/main/desperados/ui/EditorWindow$17.class
build/classes/java/main/desperados/ui/EditorWindow$18.class
build/classes/java/main/desperados/ui/EditorWindow$19.class
build/classes/java/main/desperados/ui/EditorWindow$20.class
build/classes/java/main/desperados/ui/EditorWindow$21.class
build/classes/java/main/desperados/ui/EditorWindow$22.class
build/classes/java/main/desperados/ui/EditorWindow$23.class
build/classes/java/main/desperados/ui/EditorWindow$24.class
build/classes/java/main/desperados/ui/EditorWindow$25.class

build/tmp/compileJava/previous-compilation-data.bin

build/tmp/compileJava/compileTransaction/stash-dir/MainGUI.class.uniqueId2
build/tmp/compileJava/compileTransaction/stash-dir/DvfHandler.class.uniqueId18
build/tmp/compileJava/compileTransaction/stash-dir/DvfReader.class.uniqueId29
build/tmp/compileJava/compileTransaction/stash-dir/DvfReader$Type.class.uniqueId12
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow.class.uniqueId15
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$ScriptItems.class.uniqueId33
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$1.class.uniqueId9
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$1$1.class.uniqueId13
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$2.class.uniqueId7
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$3.class.uniqueId28
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$4.class.uniqueId16
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$5.class.uniqueId1
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$5$1.class.uniqueId26
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$6.class.uniqueId23
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$6$1.class.uniqueId30
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$7.class.uniqueId10
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$8.class.uniqueId31
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$9.class.uniqueId11
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$10.class.uniqueId3
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$11.class.uniqueId22
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$12.class.uniqueId6
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$13.class.uniqueId25
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$14.class.uniqueId21
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$15.class.uniqueId4
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$16.class.uniqueId17
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$17.class.uniqueId14
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$18.class.uniqueId27
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$19.class.uniqueId24
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$20.class.uniqueId5
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$21.class.uniqueId19
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$22.class.uniqueId8
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$23.class.uniqueId32
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$24.class.uniqueId20
build/tmp/compileJava/compileTransaction/stash-dir/EditorWindow$25.class.uniqueId0

