/bin/

# Project exclude paths
/classes/
/build/libs/DesperadosTools.properties
.gradle/file-system.probe
.gradle/8.7/executionHistory/executionHistory.lock
.gradle/8.7/fileHashes/fileHashes.bin
.gradle/8.7/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
